        body {
            background: #BFBFBF;
            color: black;
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 0;
        }
 
        /*header code*/

        header {
            background-image: url(../Images/Homebackground.png);
            font-family: Arial, Helvetica, sans-serif;
            height: 500px;
            padding: 15px;
            
        }
        

        nav {
            width: 100%;
            background-color: transparent;

            display: flex;
            align-items: center;
            justify-content: flex;
            height: 100%;
            width: 100%;
            margin-top: -11%;
            
        }
        
        .logo-name{
            display: flex;
        }
        .logo {
            height: 95px;
            width:100px ;
            position: relative;
            margin-right: auto;
            margin-left: 350px;
            top: 7px;
            
        }

        div .name {
            position: relative;
            color: #003870;
            font-size: 2.5rem;
            font-weight: 1000;
            display: inline;
            margin-left: 10px;
        }

        .navbar {
            list-style: none;
            display: flex;
            margin-left: auto;
            margin-right: auto;
        }

        .navbar li a {
            position: relative;
            font-size: 1.5rem;
            font-weight: 520;
            text-decoration: none;
            color: white;
            background-color: #404040;
            border-radius: 30px;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 4px;
            padding-bottom: 4px;
            
            margin-left: 10px;
        }
        
        .navbar li a:hover {
            background-color: #003870;
        }


        /*Footer code*/

        footer{
            background: #808080;
            color: black;
            padding-bottom: 10px;
            display: flex;
            justify-content: center;
        }

        .fleft {
            margin-right: auto;
            margin-left: 350px;
            margin-top: auto;
            margin-bottom: auto;
        }

        .fright {
            margin-right: 350px;
            margin-left: auto;
            margin-top: auto;
            margin-bottom: auto;
        }


        /*Project selections code*/
        .projects {
            display: grid;
            padding: 20px;
            grid-template-columns: 400px 400px 400px;
            justify-content: center;
        }

        .projects figure {
            margin: 0 auto auto auto;
            padding: 10px;
            width: 400px;
        }

        .projects figure img {
            width: 350px;
            height: 350px;
            border: 5px solid #808080;
        }

        .projects figure figcaption {
            font-weight: 600;
            font-size: 1.5rem;
        }

       

        