        body {
            background: #BFBFBF;
            color: black;
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background: #808080;
            font-family: Arial, Helvetica, sans-serif;
            height: 70px;
            padding: 15px;
        }
        nav {
            width: 100%;
            background-color: transparent;

            display: flex;
            align-items: center;
            justify-content: flex;
            height: 100%;
            width: 100%;
        }
        
        .logo-name{
            display: flex;
        }
        .logo {
            height: 95px;
            width:100px ;
            position: relative;
            margin-right: auto;
            margin-left: 350px;
            top: 7px;
            
        }

        div .name {
            position: relative;
            color: #003870;
            font-size: 2.5rem;
            font-weight: 1000;
            display: inline;
            margin-left: 10px;
        }

        .navbar {
            list-style: none;
            display: flex;
            margin-left: auto;
            margin-right: 400px;
        }

        .navbar li a {
            position: relative;
            font-size: 1.5rem;
            font-weight: 520;
            text-decoration: none;
            color: white;
            background-color: #404040;
            border-radius: 30px;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 4px;
            padding-bottom: 4px;
            
            margin-left: 10px;
        }
        
        .navbar li a:hover {
            background-color: #003870;
        }


        footer{
            background: #808080;
            color: black;
        }